{% extends 'base.html.twig' %}

{% block title %}Edition d'un article{% endblock %}

{% form_theme form 'article/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier l'article : {{article.title}}</h1>

        {{ form_start(form) }}

        {{form_widget(form)}}
        
        <button type="submit" class="btn btn-primary">Enregistrer les modifications de l'article</button>

        {{form_end(form)}}
    </div>
{% endblock %}

{% block javascripts %}

<script src="/js/article.js">
</script>

{% endblock %}